@if (loading$ | async) {
  <div class="loading-container">
    <span class="loader"></span>
  </div>
} @else {
  <div class="header-container">
    <div class="btn-wrapper">
      <button (click)="toggle()">
        {{isDarkMode() ? '🌙 Dark' : '☀️ Light' }}
      </button>
    </div>
    @if ((selectedId$ | async)! > 0) {
      <div class="header">
        Active Post ID: {{ selectedId$ | async }}
      </div>
    }
  </div>
  <div class="grid">
    @for (post of posts$ | async; track $index) {
      <app-post-square
        [post]="post"
        [selectedId]="selectedId$ | async">
      </app-post-square>
    }
  </div>
}



